html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #3CB371;
}

h1, h2 {
    margin: 0;
}

a {
    padding-right: 1em;
    font-size: 1.5em;
    text-decoration: none;
    color: #000;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.source {
    color: #006400;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
    padding-left: 3em;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.name {
    font-size: 4em;
    font-family: 'Pattaya', sans-serif;
}

.plus-ultra {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    color: #006400;
}

.title {
    color: #ffffff;
    opacity: 0.6;
    font-size: 1.5em;
    padding-bottom: 1em;
}
