html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1, h2 {
    margin: 0;
}

button {
    margin-bottom: 1em;
    background: #2E8B57;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    border-radius: 10px;
    margin-left: 2em;
    &:hover {
        background: #3CB371;
    }
}

img {
    width: 200px;
    height: 200px;
    margin-right: 2em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.link {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 1em;
    font-size: 1em;
    text-decoration: none;
    color: #000;
    &:hover {
        background: #006400;
        color: #ffffff;
    }

}

.source {
    color: #3CB371;
    padding-right: 1em;
    font-size: 2em;
    text-decoration: none;
    font-weight: bolder;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper { 
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.sub-wrapper {
    background: #3CB371;
    padding-bottom: 0.75em;
    border-bottom: 15px solid #006400;

}

.name {
    padding-left: 0.25em;
    font-size: 4em;
    font-family: 'Pattaya', sans-serif;
    width: 100%;
}

@media only screen and (max-width: 800px) {

.name {
    padding-left: 0.25em;
    font-size: 2.5em;
    font-family: 'Pattaya', sans-serif;
}

.title {
    color: #ffffff;
    opacity: 0.6;
    padding-bottom: 0.5em;
    padding-left: 1.5em;

}

}

@media only screen and (max-width: 600px) {

.name {
    padding-left: 0.25em;
    font-size: 1.5em;
    font-family: 'Pattaya', sans-serif;
}

.title {
    color: #ffffff;
    opacity: 0.6;
    font-size: 0.75em !important;
    padding-bottom: 0.5em;
    padding-left: 1.5em;

}

}

.plus-ultra {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    color: #006400;
}

.title {
    color: #ffffff;
    opacity: 0.6;
    font-size: 1.25em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
}

.options {
    padding-left: 3em;
}

.hidden {
    display: none;
}

.hidden-2 {
    display: none;
}

.projects {
    cursor: pointer;
}

.resume {
    cursor: pointer;
}

.resume-content {
    padding-bottom: 1em;
    width: 90%;
    margin: auto;
    h2, h3, h4, h5, h6 {
        color: #3CB371;
    }
    h1 {
        font-size: 3em;
        color: #006400;
    }
    h2 {
        font-size: 2em;
        text-decoration: underline;
    }
    h4 {
        font-size: 1.5em;
        margin-bottom: 0em;
    }
}

.projects-content {
    padding-bottom: 1em;
    width: 90%;
    margin: auto;
    h1 {
        color: #3CB371;
    }
}

.project-container {
    margin-left: 2em;
    margin-top: 2em;
    display: flex;
}

@media only screen and (max-width: 600px) {

.project-container {
    margin-left: 2em;
    margin-top: 2em;
    display: inherit;
}

}

.tags {
    display: block;
    margin-block-end: 0.5em;
    span {
        margin-left: 0.5em;
        color: #3CB371;
        &:hover {
            background: #006400;
        }
    }
}

.go-back {
    cursor: pointer;
    margin-top: 1em;
}

.go-back-2 {
    cursor: pointer;
    margin-top: 1em;
}

.darkmode {
    display: inline-block;
    margin: 1em;
    right: 0;
    position: fixed;
}

.moon {
    position: fixed;
    font-size: 2em;
    right: 2.25em;
    padding: 15px;
    color: #2E8B57;
}

.switch {
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3CB371;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3CB371;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}