html, body {
  height: 100%;
  font-family: monospace;
  margin: 0;
  font-size: 10px;
}

h1, h2 {
  margin: 0;
}

button {
  margin-bottom: 1em;
  background: #fff;
  color: #000;
  box-shadow: 6px 6px black;
  padding: 0.5em;
  margin-left: 2em;
  cursor: pointer;
}

img {
  width: 200px;
  height: 200px;
  margin-right: 2em;
}

.main-image {
  width: 250px;
  height: 250px;
  margin-right: 0;
  margin-block-start: 150px;
  margin: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.links {
  font-size: 14px;
  margin-block-start: 1em;
  margin-block-end: 1.5em;
}

.navlink {
  background: #fff;
  box-shadow: 6px 6px black;
  padding: 0.25em;
}

.source {
  color: #DCDCDC;
  padding-right: 1em;
  font-size: 1em;
  text-decoration: none;
  font-weight: bolder;
}

.main {
  border-radius: 1em;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  border-radius: 1em;
  vertical-align: middle;
  width: 70%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-wrapper {
  border-radius: 1em;
  height: 25em;
  background-image: url("../images/ground.jpg");
}

.sub-wrapper.toogled {
  border-radius: 1em;
  height: 25em;
  background-image: url("../images/ground.jpg");
}

.deep-wrapper {
  float: left;
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.image-wrapper {
  display: flex;
  height: 25em !important;
  background: #F5F5F5;
}

.personal-info {
  margin-block-start: 4em;
}

@media only screen and (max-width: 900px) {
  .name {
    font-size: 22px !important;
  }

  .option {
    font-size: 14px;
  }

  .main-image {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background: #F5F5F5;
  }

  .name {
    font-size: 30px !important;
    width: 75% !important;
  }

  .title {
    width: 75% !important;
  }

  .links {
    font-size: 10px;
  }

  .option {
    font-size: 18px;
  }

  .wrapper {
    vertical-align: middle;
    width: 100%;
    margin: auto;
    box-shadow: none;
  }

  .sub-wrapper {
    border-radius: 1em;
    height: 100%;
  }

  .deep-wrapper {
    float: none;
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }

  .image-wrapper {
    display: flex;
    height: 15em;
    background: #F5F5F5;
  }

  .personal-info {
    padding-block-start: 2em;
    padding-block-end: 2em;
    margin-block-start: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .main-image {
    width: 200px;
    height: 200px;
    margin-block-start: 0;
    margin: auto;
  }
}
.name {
  font-size: 30px;
  background: #FFF5EE;
  margin: auto;
  width: 80%;
}

.title {
  font-size: 18px;
  width: 70%;
  margin: auto;
}

.option:active {
  background: #000;
}

.hidden {
  display: none;
}

.hidden-2 {
  display: none;
}

.projects {
  cursor: pointer;
}

.resume {
  cursor: pointer;
}

.resume-content {
  padding-bottom: 1em;
  width: 60%;
  margin: auto;
}
.resume-content h2, .resume-content h3, .resume-content h4, .resume-content h5, .resume-content h6 {
  color: #663399;
}
.resume-content h1 {
  color: #0000FF;
  font-size: 1.5em;
}
.resume-content h2 {
  font-size: 1em;
}
.resume-content h4 {
  font-size: 1em;
  margin-bottom: 0em;
}

.projects-content {
  padding-bottom: 1em;
  width: 60%;
  margin: auto;
}
.projects-content h1 {
  font-family: monospace;
  font-size: 18px;
  color: #0000FF;
}

.project-container {
  margin-left: 2em;
  margin-top: 2em;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .project-container {
    margin-left: 2em;
    margin-top: 2em;
    display: inherit;
  }
}
.tags {
  display: block;
  margin-block-end: 0.5em;
}
.tags span {
  margin-left: 0.5em;
  color: #00FF00;
}
.tags span:hover {
  background: #000;
}

.go-back {
  cursor: pointer;
  margin-top: 1em;
}

.go-back-2 {
  cursor: pointer;
  margin-top: 1em;
}

.darkmode {
  display: inline-block;
  margin: 1em;
  right: 0;
  position: fixed;
}

.moon {
  position: fixed;
  font-size: 1.5em !important;
  right: 3em;
  padding: 15px;
  color: #2E8B57;
}

.switch {
  display: inline-block;
  width: 45px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #708090;
}

input:focus + .slider {
  box-shadow: 0 0 1px #708090;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
