html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #3CB371;
    /* margin: 0;
    overflow: hidden; */
}

h1, h2 {
    margin: 0;
}

button {
    margin-bottom: 1em;
    background: #2E8B57;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    border-radius: 10px;
}

img {
    width: 200px;
    height: 200px;
    margin-right: 2em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.link {
    margin-right: 1em;
    font-size: 1.5em;
    text-decoration: none;
    color: #000;
}

.source {
    color: #ffffff;
    padding-right: 1em;
    font-size: 2em;
    text-decoration: none;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
    padding-left: 3em;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.name {
    font-size: 4em;
    font-family: 'Pattaya', sans-serif;
}

@media only screen and (max-width: 800px) {

.name {
    font-size: 2.5em;
    font-family: 'Pattaya', sans-serif;
}

}

@media only screen and (max-width: 600px) {

.name {
    font-size: 1.5em;
    font-family: 'Pattaya', sans-serif;
}

.title {
    color: #ffffff;
    opacity: 0.6;
    font-size: 0.5em;
    padding-bottom: 1em;
}

}

.plus-ultra {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    color: #006400;
}

.title {
    color: #ffffff;
    opacity: 0.6;
    font-size: 1.5em;
    padding-bottom: 1em;
}

.hidden {
    display: none;
}

.hidden-2 {
    display: none;
}

.projects {
    cursor: pointer;
}

.resume {
    cursor: pointer;
}

.resume-content {
    padding-bottom: 1em;
    width: 90%;
    margin: auto;
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
        text-decoration: underline;
    }
    h4 {
        font-size: 1.5em;
        margin-bottom: 0em;
    }
}

.projects-content {
    padding-bottom: 1em;
    width: 90%;
    margin: auto;
}

.project-container {
    margin-left: 2em;
    margin-top: 2em;
    display: flex;
}

@media only screen and (max-width: 600px) {

.project-container {
    margin-left: 2em;
    margin-top: 2em;
    display: inherit;
}

}

.go-back {
    cursor: pointer;
    margin-top: 1em;
}

.go-back-2 {
    cursor: pointer;
    margin-top: 1em;
}